{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
{% endblock meta %}




{% block content %}

<nav class="flex items-center justify-between px-12 py-4">

    <a href="{% url 'web_app:show_home' %}" class="flex items-center gap-x-6">
        <img src="{% static 'images/Ristek_logo.svg' %}" alt="Ristek_logo" id="logo">
        <h1 class="font-bold hidden lg:block" id="logo-text">RISTEK MedSOS</h1>
    </a>
    <button class="bg-white rounded-lg py-2.5 px-5 font-bold text-base flex items-center justify-center gap-2 lg:grow-0 active:scale-90 transition ease-in-out"><a href="{% url 'web_app:logout' %}">Logout</a></button>
        
    <a href="{% url 'web_app:show_profile' %}" class="flex items-center gap-x-4">
        <img src="{% static 'images/profile_photo.svg' %}" alt="">
        <h1 class="hidden sm:block">{{ user }}</h1>   
    </a>
    
</nav>

<div class="flex justify-center my-4 pb-4">
    <div class="flex flex-col w-2/3 sm:w-1/2">
        <h1 class="text-4xl font-bold">Welcome back,</h1>
        <br>
        <h1 class="text-4xl font-bold" id="name">{{user}}</h1>
        
        <div class=" relative my-4 flex flex-col lg:flex-row gap-2">
            <form method="POST" action="" id="add_post" class="flex flex-col lg:flex-row lg:grow gap-2">
                {% csrf_token %}
                <div class="relative basis-4/6 ">
                    <textarea  placeholder="What's happening?" name="content" id="" cols="50" rows="6" style="color: white; font-family: 'Poppins';" class="p-2 resize-none max-w-full" id="contents"></textarea>
                </div>
                <input type="hidden" name="user_id" value="{{ user }}">
                
                
            <div class="flex flex-row lg:flex-col justify-start lg:justify-end gap-2 py-2 basis-2/6">
                <button class="bg-white rounded-lg py-2.5 px-5 font-bold text-base flex items-center justify-center gap-2 grow lg:grow-0 active:scale-90 transition ease-in-out grow" type="submit">Post<img src="{% static 'images/post_logo.svg' %}" alt=""></button>
            </div>
            </form>
        </div>

        <div class="flex flex-col gap-9" id="posts">
            <!-- <div class="h-fit w-fit w-full rounded-3xl relative flex flex-col overflow-auto py-2" id="card">
                <div class="flex py-2 px-4 sm:px-8 justify-between">
                    <div class="flex items-center sm:gap-2">
                        <img class="scale-50 sm:scale-75 rounded" src="{% static 'images/profile_photo.svg' %}" alt="">
                        <h1 class="font-bold text-sm">Name arawef</h1>
                        <h2 class="text-xs text-white font-extralight hidden md:block">04-12-2022</h2>
                    </div>
                    <div class="flex items-center">
                        <a href=""><img src="{% static 'images/delete_logo.svg' %}" alt=""></a>
                        
                    </div>
                </div>

                <div>
                    <h1 class="text-sm sm:text-xl py-4 px-8 font-bold">RISTEK Webdev is opening recruitment! arbjarbwaarb  arbar</h1>
                </div>

            </div> -->


            {% for post in posts %}
            <div class="h-fit w-full rounded-3xl" id="card">
                <div class="flex py-2 px-4 sm:px-8 justify-between">
                    <div class="flex items-center sm:gap-2">
                        <img class="scale-50 sm:scale-75 rounded" src="{% static 'images/profile_photo.svg' %}" alt="">
                        <h1 class="font-bold text-sm">{{post.user}}</h1>
                        <h2 class="text-xs text-white font-extralight hidden md:block">{{post.date}}</h2>
                    </div>
                    <div class="flex items-center gap-4">
                        {% if user == post.user %}
                        <svg id="edit_button{{post.id}}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-white" style="cursor:pointer;">
                            <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z" />
                          </svg>
                        <a href="{% url 'web_app:delete_U' post.id %}"><img src="{% static 'images/delete_logo.svg' %}" alt=""></a>
                        {% endif %}
                    </div>
                </div>

                <div>
                    <h1 class="text-sm sm:text-xl py-4 px-8 font-bold">{{post.content}}</h1>
                </div>

                <div class="ease-in hidden duration-300" id="edit{{post.id}}"">
                    <form action="{% url 'web_app:edit_post_home' post.id %}" method="POST" class="flex flex-col px-8 py-4" style="color: white; font-family: 'Poppins';">
                        {% csrf_token %}
                        <div class="relative">
                            <textarea name="edit" id="" cols="100" rows="5" class="p-2 resize-none max-w-full"></textarea>
                        </div>
                        <input type="hidden" name="user_id" value="{{ user }}">

                        <div class="text-black flex">
                            <button class="bg-white rounded-lg py-2.5 px-5 font-bold text-base flex items-center justify-center gap-2 active:scale-90 transition ease-in-out grow" type="submit">Edit<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 fill-black">
                            <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z" />
                          </svg></button>
                        </div>

                    </form>
                    
                </div>

            </div>
            {% endfor %}


        </div>
        


    </div>

</div>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(() => {
        // const card = post => ` <div class="h-fit w-full rounded-3xl" id="card">
        //         <div class="flex py-2 px-4 sm:px-8 justify-between">
        //             <div class="flex items-center sm:gap-2">
        //                 <img class="scale-50 sm:scale-75 rounded" src="{% static 'images/profile_photo.svg' %}" alt="">
        //                 <h1 class="font-bold text-sm">${post.fields.user}</h1>
        //                 <h2 class="text-xs text-white font-extralight hidden md:block">${post.fields.date}</h2>
        //             </div>
        //             <div class="flex items-center">
        //                 <a href=""><img src="{% static 'images/delete_logo.svg' %}" alt=""></a>
                        
        //             </div>
        //         </div>

        //         <div>
        //             <h1 class="text-sm sm:text-xl py-4 px-8 font-bold">${post.fields.content}</h1>
        //         </div>

        //     </div>
            
        // </div>`

        // const renderItem = () => {
        //     $.get("{% url 'web_app:json' %}", data => {
        //         $.each(data, (i, value) => {
        //             $("#posts").prepend(card(value))
        //         })
        //     })
        // }
        
        const ids = $("[id^='edit_button']").map(function() {
        return this.id.substring(11);
    }).get();
    console.log(ids)

    const ids2 = [...document.querySelectorAll('[id^="edit_button"]')].map((elem) => elem.id);
    console.log(ids2)

    // Iterate over the IDs array and attach a click event to each edit button
    ids.forEach(id => {
        const openEdit = e => {
            e.preventDefault();
            console.log("hello" + id);
            if ($("#edit" + id).hasClass("hidden")) {
                $("#edit" + id).removeClass("hidden")
                $("#edit" + id).addClass("block")
            } else {
                $("#edit" + id).removeClass("block")
                $("#edit" + id).addClass("hidden")
            }
        }

        $("#edit_button" + id).click(openEdit);

        
        });


        $("#add_post").submit(e => {

            const csrftoken = document.querySelector(
                "[name=csrfmiddlewaretoken]"
            ).value;

            const content = $("[name=content]").val();
            console.log(content)
            
            const now = new Date();
            const isoDate = now.toISOString();

            const user_id = $("[name=user_id]").val();
            console.log(user_id)

            if (content) {
                $.ajax({
                    type:"POST",
                    url:"{% url 'web_app:add_post' %}",
                    headers:{ "X-CSRFToken": csrftoken },
                    mode: "same-origin",
                    data: {
                        user: user_id,
                        content: content,
                        date: isoDate,
                    },
                    success: response => {
                        $("#add_post").trigger("reset");
                        $("#posts").prepend(card(response))
                    },
                    error: error => {
                        console.log(error);
                    },
                });
            } else {
                alert("Please add a post")
            }
        })

    //     const openEdit = e => {
    //     e.preventDefault();
    //     console.log($("#edit").find('hidden').length)
    //     $("#edit").removeClass("hidden")
    //     $("#edit").addClass("block")
    // }


    // $("#edit_button").click(openEdit);

    // $("#edit").submit(e => {

    //     const csrftoken = document.querySelector(
    //         "[name=csrfmiddlewaretoken]"
    //     ).value;

    //     const edit = $("[name=edit]").val();
    //     console.log(edit)


    //     const user_id = $("[name=user_id]").val();
    //     console.log(user_id)

    //     if (content) {
    //         $.ajax({
    //             type:"POST",
    //             url:`/edit_post_home/${user_id}/`,
    //             headers:{ "X-CSRFToken": csrftoken },
    //             mode: "same-origin",
    //             data: {
    //                 edit: edit,
    //             },
    //             success: response => {
    //                 $("#edit").trigger("reset");
    //             },
    //             error: error => {
    //                 console.log(error);
    //             },
    //         });
    //     } else {
    //         alert("Please add a post")
    //     }
    //     })

    })

        

    
</script>




{% endblock content %}