{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
{% endblock meta %}




{% block content %}

<nav class="flex items-center justify-between px-12 py-4">

    <a href="{% url 'web_app:show_home' %}" class="flex items-center gap-x-6">
        <img src="{% static 'images/Ristek_logo.svg' %}" alt="Ristek_logo" id="logo">
        <h1 class="font-bold hidden lg:block" id="logo-text">RISTEK MedSOS</h1>
    </a>
    
    <div class="flex flex-row justify-start lg:justify-end gap-2 py-2 basis-2/6">
        <a href="{% url 'web_app:register' %}" class="bg-white basis-1/2 rounded-lg py-2.5 px-5 font-bold text-sm flex items-center justify-center gap-2 active:scale-90 transition ease-in-out">Sign Up</a>
        <a href="{% url 'web_app:login' %}" class="bg-white rounded-lg py-2.5 px-5 font-bold text-base flex items-center justify-center gap-2 grow lg:grow-0 active:scale-90 transition ease-in-out">Log In</a>
    </div>    
    
    
</nav>

<div class="flex justify-center my-4">
    <div class="flex flex-col w-2/3 sm:w-1/2">
        <h1 class="text-4xl font-bold">Share your thoughts</h1>
        <br>
        <!-- <h1 class="text-4xl font-bold" id="name">@Name</h1> -->
        
        <div class=" relative my-4 flex flex-col lg:flex-row gap-2">
            <form method="POST"action="" class="flex flex-col lg:flex-row lg:grow gap-2" id="add_post">
                {% csrf_token %}
                <div class="relative basis-4/6">
                    <textarea  placeholder="What's happening?" name="content" id="" cols="50" rows="6" style="color: white; font-family: 'Poppins';" class="p-2 resize-none max-w-full"></textarea>
                </div>
                
            
            <div class="flex flex-row lg:flex-col justify-start lg:justify-end gap-2 py-2 basis-2/6">
                <button class="bg-white rounded-lg py-2.5 px-5 font-bold text-base flex items-center justify-center gap-2 grow lg:grow-0 active:scale-90 transition ease-in-out">Post<img src="{% static 'images/post_logo.svg' %}" alt=""></button>
            </div>
            </form>
        </div>

        <div class="flex flex-col gap-9" >

            {% for post in posts %}
            <div class="h-fit w-full rounded-3xl" id="card">
                <div class="flex py-2 px-4 sm:px-8 justify-between">
                    <div class="flex items-center sm:gap-2">
                        <img class="scale-50 sm:scale-75 rounded" src="{% static 'images/profile_photo.svg' %}" alt="">
                        <h1 class="font-bold text-sm">{{post.user}}</h1>
                        <h2 class="text-xs text-white font-extralight hidden md:block">{{post.date}}</h2>
                    </div>
                    <div class="flex items-center">
                        {% if post.user == user %}
                        <a href="{% url 'web_app:delete_A' post.id %}"><img src="{% static 'images/delete_logo.svg' %}" alt=""></a>
                        {% endif %}
                    </div>
                </div>

                <div>
                    <h1 class="text-sm sm:text-xl py-4 px-8 font-bold">{{post.content}}</h1>
                </div>

            </div>
            {% endfor %}


            
        </div>
        


    </div>

</div>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(() => {
        // const card = post => ` <div class="h-fit w-full rounded-3xl" id="card">
        //         <div class="flex py-2 px-4 sm:px-8 justify-between">
        //             <div class="flex items-center sm:gap-2">
        //                 <img class="scale-50 sm:scale-75 rounded" src="{% static 'images/profile_photo.svg' %}" alt="">
        //                 <h1 class="font-bold text-sm">${post.fields.user}</h1>
        //                 <h2 class="text-xs text-white font-extralight hidden md:block">${post.fields.date}</h2>
        //             </div>
        //             <div class="flex items-center">
        //                 <a href=""><img src="{% static 'images/delete_logo.svg' %}" alt=""></a>
                        
        //             </div>
        //         </div>

        //         <div>
        //             <h1 class="text-sm sm:text-xl py-4 px-8 font-bold">${post.fields.content}</h1>
        //         </div>

        //     </div>
            
        // </div>`

        // const renderItem = () => {
        //     $.get("{% url 'web_app:json' %}", data => {
        //         $.each(data, (i, value) => {
        //             $("#posts").prepend(card(value))
        //         })
        //     })
        // }
        $("#add_post").submit(e => {

            const csrftoken = document.querySelector(
                "[name=csrfmiddlewaretoken]"
            ).value;

            const content = $("[name=content]").val();
            console.log(content)
            
            const now = new Date();
            const isoDate = now.toISOString();

            const user_id = $("[name=user_id]").val();
            console.log(user_id)

            if (content) {
                $.ajax({
                    type:"POST",
                    url:"{% url 'web_app:add_post2' %}",
                    headers:{ "X-CSRFToken": csrftoken },
                    mode: "same-origin",
                    data: {
                        user: user_id,
                        content: content,
                        date: isoDate,
                    },
                    success: response => {
                        $("#add_post").trigger("reset");
                        $("#posts").prepend(card(response))
                    },
                    error: error => {
                        console.log(error);
                    },
                });
            } else {
                alert("Please add a post")
            }
        })

    })

        

    
</script>




{% endblock content %}